<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4 d-flex justify-content-around">
            <h2>Create customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" [(ngModel)]="createCustomerForm.name" name="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" [(ngModel)]="createCustomerForm.lastName" name="lastName" class="form-control" id="lastName">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" [(ngModel)]="createCustomerForm.phone" name="phone" class="form-control" id="phone">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" [(ngModel)]="createCustomerForm.email" name="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" [(ngModel)]="createCustomerForm.address" name="address" class="form-control" id="address">
                </div>
                <div class="d-flex justify-content-around">
                    <button type="submit" (click)="createCustomer()" class="btn btn-primary mt-1">Submit</button>
                    <a routerLink="customers">List Customers</a>
                </div>
                
            </form>            
        </div>        
    </div>
</div>


